/* .wrapper{

} */

.navigationWrapper{
    display: flex;
    justify-content: center;
}

.items{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}