.container{
    display: flex;
    justify-content: center;
    border: solid 1px black;
    border-radius: 10px;
    height: 100%;
    padding: 20px;
}

.header{
    padding: 70px;
    text-align: center;
}

.headerText{
    font-size: 32px;
    font-family: cursive;
    font-style: italic;
    letter-spacing: 1px;
}

.linksWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    width: 200px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

#aboutButton{
    border-color: blue;
    color: blue;
}

#contactButton{
    border-color: green;
    color: green;
}

#projectsButton{
    border-color: red;
    color: red;
}

#resumeButton{
    border-color: black;
    color: black;
}