.container{
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

/* .header{

} */

.headerText{
    font-size: 32px;
    font-family: cursive;
    font-style: italic;
    letter-spacing: 1px;
    padding: 50px;
}

.linksWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    width: 35%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border-width: 1px;
    background-color: white;
    cursor: pointer;
    margin-bottom: 50px;
    transition: 0.2s;
}
.buttons:hover {
    border-width: 3px;
    transition: 0.2s;
    width: 37%;
}

.buttons a{
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 20px;
}

#aboutButton{
    border-color: blue;
    color: blue;
}

#contactButton{
    border-color: green;
    color: green;
}

#projectsButton{
    border-color: red;
    color: red;
}

#resumeButton{
    border-color: black;
    color: black;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.mySwiper {
    width: 100%;
    height: 100%;
}